body {
  margin: 0%;
  font-size: 1.125rem;
  color: #707070;
  background: linear-gradient(to right, #f8f6f3, #c5a06b);
  text-shadow: 0 0 0px black;
}
.container {
  width: 95%;
  max-width: 980px;
  margin: 0 auto;
}
h1 {
  font-size: 3rem;
  text-align: center;
  color: #212614;
}
img {
  max-width: 100%;
}
h2 {
  font-size: 1.5rem;
}
p {
  margin-top: 0;
}
.columns {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 1em 0;
}
.col-1 {
  width: 20%;
}

.col-2 {
  width: 45%;
}

.col-3 {
  width: 70%;
}
h1 span {
  color: #b7832f;
}
.col-bg {
  background-color: #212614;
  padding: 1em;
  color: #fff;
}

@media (max-width: 460px) {
  .columns {
    display: flex;
    flex-direction: column;
  }
  .col-1,
  .col-2,
  .col-3 {
    width: 90%;
    margin: 0 auto;
  }
}
